src/main/mule/03-filemodule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="a711aa06-f496-4dcd-96d1-922689706ac2" >
		<file:connection workingDir="C:\" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f975605c-75a8-443a-b5b3-be3038ef82b8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="03-filemoduleFlow1" doc:id="fed0f2e8-5d52-4ad4-b5b1-a98cf81f223a" >
		<http:listener doc:name="Listener" doc:id="197cfc74-9284-4c86-b67d-5b692e3b2261" config-ref="HTTP_Listener_config" path="write"/>
		<ee:transform doc:name="Transform Message" doc:id="8c25197a-0dcf-406f-bad0-0d03e7f60947">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
[{
	Product_id: attributes.queryParams.pid as String,
	Product_name: attributes.queryParams.pname as String,
	Product_price: attributes.queryParams.price as String
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="d27a52aa-5640-41c4-b716-ab416e45f377" config-ref="File_Config" path="output\products.csv" mode="APPEND"/>
	</flow>
	<flow name="03-filemoduleFlow" doc:id="cf43a690-fb35-4c6c-af19-b9f533a2cf3c" >
		<file:listener doc:name="On New or Updated File" doc:id="11a4cbcb-8263-4c82-a37a-3f39f824dcd5" config-ref="File_Config" directory="input" moveToDirectory="C:\moved" renameTo="trasferred_folder" watermarkMode="MODIFIED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="5a7e7af8-287d-4f72-bb73-43e7718fec29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7c942ca4-9daa-42d3-bb3f-0d92576002d0" >
			<logger level="INFO" doc:name="Logger" doc:id="095e4f16-e0f4-41ef-b0e5-7f20f947610a" message="#[payload]" />
		</foreach>
	</flow>
</mule>
